.App {
  background-color: aqua;
  height: 100vh;
  max-width: 100vw;
}

.navBar{
  background-color: black;
  color: antiquewhite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  min-height: 20vh;
}

.navBarLinks > ul {
  font-size:  large;
  margin-right: 100px;
  list-style: none;
  display: flex;
  gap: 5rem;
  text-decoration: none;
}

.navBarLinks > ul :hover {
  text-decoration: underline; 
}

.content {
  background-color: yellow;
  min-height: 75vh;
}

.footer {
  background-color: aquamarine;
  min-height: 5vh;
}

.logo > img {
  max-height: 150px;
  padding: 10px;
  margin: 10px
}

h1, h3 {
  text-align: center;
}

.shortProfile, .skills, .clientTestimonials {
  min-height: 50vh;
}

.shortProfile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px
}

.profilePicContainer, .profileInfo {
  width: 100%;
  height:70vh;
  padding: 20px;
}

.profilePicture {
  width: 100%;
  margin: 30px;
  min-height: 200px;
  min-width: 300px;;
}

.profileInfo {
  padding: 30px;
  margin: 50px;
}
.skillsContainer{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: center;
  flex-grow: 1;
}
.skill {
  border: solid black;
  padding: 20px;
  margin: 10px;
  width:25%;
}